<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="1" cellpadding="10">
    <caption>学生列表</caption>
    <tr>
        <th>编号</th>
        <th>年龄</th>
        <th>性别</th>
        <th>年龄</th>
        <th>班级</th>
    </tr>

    <tr align="center" th:each="student:${studentList}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.sex}"></td>
        <td th:text="${student.age}"></td>
        <td th:text="${student.level}"></td>
    </tr>
</table>
</body>
</html>